<ul>
<% this.collection.forEach(function(quote){ %>
  <%= "<li>" + quote.attributes.quote + "</li>" %>
<% }); %>
</ul>

<% if ((this.collection.state.totalPages - 1) !== this.collection.state.currentPage){ %>
  <%= this.collection.state.totalPages %>
  <%= '<a href="#">Next Page</a>' %>
<% } %>